{% extends "base.html" %}
{% load static %}

{% block body %}
<section>
    <div django-app="TaskManager">
        <div class="container">
            <div class="content">
                <h1>To Do List</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- csrf token for basic security -->
                    <div>
                        <label for="milestone">milestone</label><br>
                        <ol type="1" id="addMilestone">
                            <li>
                                <input type=
                            </li>
                            <br>
                        </ol>
                        <button class="milestone" type="button" onClick=add()>Add Milestone</button>
                    </div>
                    <div class="row">
                        <button class="taskAdd" name="taskAdd" type="submit" value="Post">Add
                            task</button>
                    </div>
                </form>
            </div><!-- content -->
        </div><!-- container -->
    </div>
</section>

{% endblock body %}