{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="masthead text-center d-flex">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h1 class="text-uppercase">
                        <form role="form">
                            <fieldset>
                                <h2>Enter your ID to login</h2>
                                <div>
                                    <input name="id" id="id" class="form-control" placeholder="ID">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                                        <a href="/create" class="btn btn-lg btn-warning">Register</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </h1>
                    <hr>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}


