{% extends "base.html" %}
{% load static %}

{% block body %}
<section>
    <div django-app="TaskManager">
        <div class="container">
            <div class="content">
                <h1>Task Manager</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- csrf token for basic security -->
                    <div>
                        <input type="text" id="title" class="taskName" placeholder="Task" name="title"><br>
                        <label for="title">Title</label>
                    </div>
                    <div>
                        <input type="date" id="dueDate" class="taskDate" name="date"><br>
                        <label for="dueDate">Due Date</label>
                    </div>
                    <div>
                        <label for="priority">Priority</label>
                        <input type="number" id="priority" class="taskPriority" name="priority" value="priority" min="1"
                            max="3">
                    </div>
                    <div>
                        <ol type="1" id="addMilestone">
                            <br>
                            <label for="milestone">milestone</label><br>
                        </ol>
                        <button class="milestone" type="button" onClick=add()>Add Milestone</button>
                    </div>
                    <div class="row">
                        <button class="taskAdd" name="taskAdd" type="submit" value="Post">Add
                            task</button>
                    </div>
                </form>
                <div>
                    <ol class="taskList">
                        {% for task in tasks %}
                        {% if task.parent_task.id == NULL %}
                        <li class="taskItem">
                            
                            {{task.title}}
                        
                            <ul class="taskList">
                                <li class="taskItem">
                                    Due Date: {{task.due_date}} <br>
                                    Priority: {{task.priority}} <br>
                                    Milestone:
                                    <ol>
                                        {% for sub_task in tasks %}
                                        {% if sub_task.parent_task.id == task.id%}
                                        <li>
                                            <div class="alignleft">
                                                {{sub_task.sub_task}}
                                            </div>
                                            <div class="alignright">
                                                {{sub_task.status}}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ol>                    
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol><!-- taskList -->
                </div>
            </div><!-- content -->
        </div><!-- container -->
    </div>
</section>

{% endblock body %}
