{% extends "base.html" %}
{% load static %}

{% block body %}
<section>
    <div django-app="TaskManager">
        <div class="container">
            <div class="content">
                <h1>Task Manager</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- csrf token for basic security -->
                    <div>
                        <input type="text" id="title" class="taskName" placeholder="Task" name="title"><br>
                        <label for="title">Title</label>
                    </div>
                    <div>
                        <input type="date" id="dueDate" class="taskDate" name="date"><br>
                        <label for="dueDate">Due Date</label>
                    </div>
                    <div>
                        <input type="radio" id="status" class="taskStatus" name="status" value="status" checked>
                        Incomplete<br>
                        <input type="radio" id="status" class="taskStatus" name="status" value="status"> In Progress<br>
                        <input type="radio" id="status" class="taskStatus" name="status" value="status"> Completed
                    </div>

                    <div>
                        <label for="priority">Priority</label>
                        <input type="number" id="priority" class="taskPriority" name="priority" value="priority" min="1"
                            max="3">
                    </div>
                    <div>
                        <ol type="1" id="addMilestone">
                            <br>
                            <label for="milestone">milestone</label><br>
                        </ol>
                        <button class="milestone" type="button" onClick=add()>Add Milestone</button>
                    </div>
                    <div class="row">
                        <button class="taskAdd" name="taskAdd" type="submit">Add
                            task</button>
                        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                            onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete
                            Tasks</button>
                    </div>
                    <ol class="taskList">
                        {% for todo in todos %}
                        <li class="taskItem">
                            
                            {{todo.title}}
                        
                            <ul class="taskList">
                                <li class="taskItem">
                                    Due Date: {{todo.due_date}} <br>
                                    Priority: {{todo.priority}} <br>
                                    Milestone:
                                    <ol>
                                        {% for milestone in milestones %}
                                        {% if milestone.task_id == todo %}
                                        <li>
                                            <div class="alignleft">
                                                {{milestone.description}}
                                            </div>
                                            <div class="alignright">
                                                {{milestone.status}}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ol>                    
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ol><!-- taskList -->
                </form>
            </div><!-- content -->
        </div><!-- container -->
    </div>
</section>

{% endblock body %}
