{% extends "base.html" %}
{% load static %}

{% block body %}
<section>
    <div django-app="TaskManager">
        <div class="container">
            <div class="content">
                <h1>To Do List</h1>
                <div>
                    <ol class="taskList">
                        {% for task in tasks %}
                        {% if task.parent_task.id == NULL %}
                        <li class="taskItem">
                            
                            {{task.title}}
                        
                            <ul class="taskList">
                                <li class="taskItem">
                                    Due Date: {{task.due_date}} <br>
                                    Priority: {{task.priority}} <br>
                                    Milestone:
                                    <ol>
                                        {% for sub_task in tasks %}
                                        {% if sub_task.parent_task.id == task.id%}
                                        <li>
                                            <div class="alignleft">
                                                {{sub_task.sub_task}}
                                            </div>
                                            <div class="alignright">
                                                {{sub_task.status}}
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ol>                    
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ol><!-- taskList -->
                </div>
            </div><!-- content -->
        </div><!-- container -->
    </div>
</section>

{% endblock body %}
